
                      {{> memberCommonLayout}}

                    <div class="card-body">
                        <!-- <div class="container"> -->
                            <h2>Basket Ball Hours</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Day</th>
                                        <th>Opening</th>
                                        <th>Closing</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Sunday</td>
                                        <td>10 AM</td>
                                        <td>2 PM</td>
                                    </tr>
                                    <tr>
                                        <td>Monday</td>
                                        <td>7 AM</td>
                                        <td>5 PM</td>
                                    </tr>
                                    <tr>
                                        <td>Tuesday</td>
                                        <td>7 AM</td>
                                        <td>5 PM</td>
                                    </tr>
                                    <tr>
                                        <td>Wednesday</td>
                                        <td>7 AM</td>
                                        <td>5 PM</td>
                                    </tr>
                                    <tr>
                                        <td>Thursday</td>
                                        <td>7 AM</td>
                                        <td>5 PM</td>
                                    </tr>
                                    <tr>
                                        <td>Friday</td>
                                        <td>7 AM</td>
                                        <td>5 PM</td>
                                    </tr>
                                    <tr>
                                        <td>Saturday</td>
                                        <td>9 AM</td>
                                        <td>5 PM</td>
                                    </tr>
                                </tbody>
                            </table>
                        <!-- </div> -->

                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
