<section id="header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
            <div class="container">
                <a class="navbar-brand" href="#">Ravens Athletic </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item ">
                            <a class="nav-link nav_option text-white" href="/tennis">Reserve Tennis Court</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link nav_option text-white" href="/pool">View Pool Hours</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link nav_option  text-white" href="/basketball">View Basketball
                                Hours</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="/members">Edit Profile</a>
                        </li>
                        <a class="btn btn-primary logout" href="/logout" role="button" style="font-size: 15px;">Log
                            Out</a>
                    </ul>

                </div>
            </div>
        </nav>

    </div>
</section>


<section class="main">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm-4 mt-4">
                <div class="card profile-card-5">
                    <div class="card-img-block">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTfaMqF1xFBpeLTYqxMphV1fASyJs8adUpQs8ek2yaPzpHI3Ude"
                            alt="Card image cap">
                    </div>
                    <div class="card-body pt-0">
                        <h5 class="card-title">User Profile</h5>

                        <p class="userInfo" id="username"> Username :</p>
                        <p class="userInfo" id="name"> Name :</p>
                        <p class="userInfo" id="memberid"> Member id :</p>
                        <p class="userInfo" id="membersince"> Member since :</p>
                        <p class="userInfo" id="favorite-activity"> Favorite activity : :</p>
                        <p class="userInfo" id="skill-input"> Skill Level :</p>
                        <p class="userInfo" id="partner"> Looking for tennis partner :</p>
                        <!-- <p><i class="fa fa-map-marker" aria-hidden="true"></i> New Jersey, USA.</p> -->

                        <a href="#" class="btn btn-primary">Edit</a>
                    </div>
                </div>

            </div>
            <div class="detail-info col-sm-7 bg-light m-5 p-5 border-rounded">
                <div class="card">
                    <div class="card-header bg-primary ">
                        <div class="row">
                            <div class="col-sm-12 text-center pb-2">
                                <h2 class="pageHeader">Ravens Athletic Club</h2>
                                <h4 id="home_name">Welcome, Mesay Bekele </h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- <div class="container"> -->
                            <h2>Basket Ball Hours</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Day</th>
                                        <th>Opening</th>
                                        <th>Closing</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Sunday</td>
                                        <td>10 AM</td>
                                        <td>2 PM</td>
                                    </tr>
                                    <tr>
                                        <td>Monday</td>
                                        <td>7 AM</td>
                                        <td>5 PM</td>
                                    </tr>
                                    <tr>
                                        <td>Tuesday</td>
                                        <td>7 AM</td>
                                        <td>5 PM</td>
                                    </tr>
                                    <tr>
                                        <td>Wednesday</td>
                                        <td>7 AM</td>
                                        <td>5 PM</td>
                                    </tr>
                                    <tr>
                                        <td>Thursday</td>
                                        <td>7 AM</td>
                                        <td>5 PM</td>
                                    </tr>
                                    <tr>
                                        <td>Friday</td>
                                        <td>7 AM</td>
                                        <td>5 PM</td>
                                    </tr>
                                    <tr>
                                        <td>Saturday</td>
                                        <td>9 AM</td>
                                        <td>5 PM</td>
                                    </tr>
                                </tbody>
                            </table>
                        <!-- </div> -->

                    </div>
                </div>
            </div>
            <!-- remove -->
            <div class="row user-social-detail">

                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>

            </div>
            <!-- remove -->




        </div>
    </div>
    </div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
<script type="text/javascript" src="js/tennis.js">