<section id="header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
            <div class="container">
                <a class="navbar-brand main-title" href="#"> <p><img src="images/raven-logolg.png">  Ravens Athletic Club</p></a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

    </div>
</section>
<section class="main">
    <div class="container">
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-sm-4 ml-0">
                <!-- form card login -->
                <div class="card rounded shadow shadow-lg">
                    <div class="card-header">
                        <h2 class="mb-0">Login Form</h2>

                    </div>
                    <div class="card-body">
                        <form class="form login" role="form" autocomplete="off" id="formLogin" novalidate=""
                            method="POST">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="email-input" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="password-input" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-success btn-lg float-left mt-4"
                                id="btnLogin">Login</button>

                        </form>
                        <br />
                        <a href="/"><button type="submit" class="btn btn-primary btn-lg float-right" id="btnLogin">Sign
                                up</button></a>
                        <!-- <p>Or <a href="/"><button class="btn-primary">sign up </button></a></p> -->
                    </div>
                    <!--/card-block-->
                </div>
            </div>

        </div>

    </div>

</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
