<section id="header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
      <div class="container">
        <a class="navbar-brand" href="#">Ravens Athletic </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item ">
              <a class="nav-link nav_option text-white" href="/tennis">Reserve Tennis Court</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link nav_option text-white" href="/pool">View Pool Hours</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link nav_option  text-white" href="/basketball">View Basketball
                Hours</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white" href="/members">Edit Profile</a>
            </li>
            <a class="btn btn-primary logout" href="/logout" role="button" style="font-size: 15px;">Log
              Out</a>
          </ul>

        </div>
      </div>
    </nav>

  </div>
</section>


<section class="main">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-4 mt-4">
        <div class="card profile-card-5">
          <div class="card-img-block">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c"
              alt="Card image cap">
          </div>
          <div class="card-body pt-0">
            <h5 class="card-title">User Profile</h5>

            <p class="userInfo" id="username"> Username :</p>
            <p class="userInfo" id="name"> Name :</p>
            <p class="userInfo"  id="memberid"> Member id :</p>
            <p class="userInfo"  id="membersince"> Member since :</p>
            <p class="userInfo"  id="favorite-activity"> Favorite activity : :</p>
            <p class="userInfo"  id="skill-input"> Skill Level :</p>
            <p class="userInfo"  id="partner"> Looking for tennis partner :</p>
            <!-- <p><i class="fa fa-map-marker" aria-hidden="true"></i> New Jersey, USA.</p> -->

            <a href="#" class="btn btn-primary">Edit</a>
          </div>
        </div>

      </div>
      <div class="detail-info col-sm-7 bg-light m-5 p-5 border-rounded">
        <div class="card">
          <div class="card-header bg-primary ">
            <div class="row">
              <div class="col-sm-12 text-center pb-2">
                <h2 class="pageHeader">Ravens Athletic Club</h2>
                <h4 id="home_name">Welcome, Mesay Bekele </h4>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                    <h3 id="home_name">Your coming reservations </h3>
                  </div>
                  <div class="card-body pl-5">
                    <ol>
                      <li><h5> Court 1 scheduled at Tuesday 9am</h5></li>
                      <li><h5> Court 2 scheduled at Tuesday 10am</h5></li>
                      <li><h5> Court 1 scheduled at Tuesday 2pm</h5></li>
                      <li><h5> Court 3 scheduled at Tuesday 9am</h5></li>
                    </ol>
                  </div>
                </div>

              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body pl-5">
                    <img class="logoImage"
                      src="https://i.pinimg.com/236x/93/c7/35/93c7351ae749099af9cfcbf8214d3ce9--bilbao-athletic.jpg">
                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title" id="home_name">We have partnered you with </h5>
                    <ol>
                      <li>Player 1(name) Court 3 scheduled at Tuesday 10am</li>
                      <li>Player 3(name) Court 2 scheduled at Tuesday 2am</li>
                      <li>Player 2(name) Court 1 scheduled at Tuesday 9am</li>
                    </ol>

                    <a href="#" id="home_name" class="btn btn-primary">Reschedule</a>
                  </div>
                </div>
                <h3 id="home_name">We have partnered you with </h3>

              </div>
              <div class="col-sm-5">
                <div class="card">
                  <div class="card-body">
                    <h3 id="home_name">Trainers near you </h3>
                    <ul>
                      <li><a>James Craine</a></li>
                      <li><a>Femi Fagbure</a></li>
                      <li><a>Mesay Bekele</a></li>
                      <a href="#" class="btn btn-primary">Contact</a>

                    </ul>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>



      </div>



      <!-- remove -->
      <div class="row user-social-detail">

        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>

      </div>
      <!-- remove -->




    </div>
  </div>
  </div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></sc