
  {{> memberCommonLayout}}

          <div class="card-body">
            <div class="row">
              <div class="court court1 col-xm-5 col-sm-3" name="1">Court 1<br><img id="courts" src="images/tennis-court.png"></div>
              <div class="court court2 col-xm-5  col-sm-3" name="2">Court 2<br><img id="courts" src="images/tennis-court.png"></div>
              <div class="court court3 col-xm-5  col-sm-3" name="3">Court 3<br><img id="courts" src="images/tennis-court.png"></div>
              <div class="court court4 col-xm-5  col-sm-3" name="4">Court 4<br><img id="courts" src="images/tennis-court.png"></div>
            </div>
            <div class="row">
              <div class="court court5 col-xm-5  col-sm-3" name="5">Court 5<br><img id="courts" src="images/tennis-court.png"></div>
              <div class="court court6 col-xm-5  col-sm-3" name="6">Court 6<br><img id="courts" src="images/tennis-court.png"></div>
              <div class="court court7 col-xm-5  col-sm-3" name="7">Court 7<br><img id="courts" src="images/tennis-court.png"></div>
              <div class="court court8 col-xm-5  col-sm-3" name="8">Court 8<br><img id="courts" src="images/tennis-court.png"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- remove -->
      <div class="row user-social-detail">

        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>

      </div>
      <!-- remove -->




    </div>
  </div>
  </div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
<script type="text/javascript" src="js/tennis.js">