form.signup,
form.login {
  margin-top: 50px;
}
/* body{
  background-image: url(https://images.unsplash.com/photo-1517838277536-f5f99be501cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
} */
.member-profile {
  position: relative;
  background-color: rgb(87, 87, 87);
  height: 450px;
  width: 400px;
  right: 350px;
  top: -10px;
  font-size: 18px;
  color: antiquewhite;
  padding-top: 20px;
  padding-left: 60px;
  box-shadow: rgba(0, 0, 0, 0.3) 4px 1px 20px 4px;
  border-radius: 5px;
  }

#memberPic {
height: 265px;
width: auto;
box-shadow: rgba(0, 0, 0, 0.3) 4px 1px 20px 4px;
border-radius: 50%;
}

.container-fluid ul li{
  position: relative;
  display: inline-block;
  padding-left: 1em;
  margin-left: 1em;
  padding-top: 20px;
  left: 380px;
  font-size: 17px;
  font-weight: bolder;
}

.container-fluid ul li a{
  color: white;
  text-decoration: none;
}

.container-fluid ul li a:hover{
  background-color: teal;
  padding: 5px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bolder;
}

.welcome-page {
  position: absolute;
  background-color: rgb(241, 228, 228);
  height: 500px;
  width: 700px;
  left: 500px;
  top: 80px;
  box-shadow: rgba(0, 0, 0, 0.3) 6px 2px 20px 6px;
  border-radius: 5px;
  padding-left: 10px;
}

.container {
  background-color: darkgray;
  width: 100%;
  height: 400px;
  top: -20px;
}

.col-md-6 {
  padding-left: 40px;
  padding-top: 40px;
}

.navbar{
  background-color: rgb(138, 128, 128);
}

body {
  background-color: darkgray;
}

.logout, .navTitle {
  color:white;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pageHeader {
  margin-right: 20px;
  background-color: rgb(87, 87, 87);
  color: antiquewhite;
  font-weight: bolder;
  font-size: 43px;
  text-align: center;
  border: teal solid 3px;
  border-radius: 5px;
}

#logo {
height: 50px;

}

.ravenLogo {
  position: relative;
  width: 50px; 
  top: -570px;
  right: -70px;
  padding-top: 5px;
}

.tennisCourts {
  position: relative;
  right: -20px;
  padding-top: 20px;
}

#courts {
  height: 120px;
}

.court1 {
  position: relative;
  text-align: center;
  right: 240px;
}

.court2 {
  position: relative;
  text-align: center;
  right: 80px;
  top: -140px;
}
.court3 {
  position: relative;
  text-align: center;
  right: -80px;
  top: -280px;
}
.court4 {
  position: relative;
  text-align: center;
  right: -240px;
  top: -420px;
}
.court5 {
  position: relative;
  text-align: center;
  right: 240px;
  top: -420px;
}
.court6 {
  position: relative;
  text-align: center;
  right: 80px;
  top: -560px;
}
.court7 {
  position: relative;
  text-align: center;
  right: -80px;
  top: -700px;
}
.court8 {
  position: relative;
  text-align: center;
  right: -240px;
  top: -840px;
}

h6 {
  font-size: 16px;
}